﻿<div class="box-404">
    <div class="robo"><img src="vendor\assets\404.png"></div>
    <div class="text-404">
        <span>Error!This page not found</span>
        <p><a ng-click="goHome()">Home page</a></p>
    </div>
</div>