﻿<head-block></head-block>

<div class="month-block">
    <div class="mn-label-panel">
    </div>
</div>

<form ng-submit="save(userEventForm.$valid)" novalidate name="userEventForm">
    <div class="add-event container text-center row">
        <div class="ev-input container col-md-12">

            <span class="text-red-color" ng-show="userEventForm.name.$dirty">
                <span ng-show="userEventForm.name.$error.required">Event name is required.</span>
                <span ng-show="userEventForm.name.$error.maxlength">Event name is too long.</span>
            </span>
        
            <input type="text" placeholder="Event title" name="name" ng-model="event.name" required ng-minlength="3">
        </div>

        <div id="date-day" class="form-group container col-md-6 date-day">
            <span class="text-red-color" ng-show="userEventForm.dateStart.$dirty">
                <span ng-show="userEventForm.dateStart.$error.required">Date start is required.</span>
           </span>    

            <div class="input-group date" id="datetimepickerStart">
                <input 
                    ng-model="event.dateStart" 
                    name="dateStart" 
                    date-format="yyyy-MM-dd HH:mm" 
                    class="form-control" 
                    placeholder="Start date and time" 
                    datetime-picker 
                    hour="23" 
                    minute='59' 
                    required
                    readonly 
                />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
        </div>

        <div id="date-day" class="form-group container col-md-6 date-day">
            <div class="input-group date" id="datetimepickerEnd">
                <input 
                    ng-model="event.dateEnd" 
                    name="dateEnd" 
                    date-format="yyyy-MM-dd HH:mm" 
                    class="form-control" 
                    placeholder="End date and time" 
                    datetime-picker 
                    hour="23" 
                    minute='59'
                    required
                    readonly 
                />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="ev-input container col-md-12">
            <input type="text" placeholder="Location" ng-model="event.place">
        </div>
        <div class="ev-input container col-md-12">
            <textarea class="textinput" rows="3" resize vertical placeholder="Description of the event" ng-model="event.description"></textarea>
        </div>
        <div class="container ev-btn-panel col-md-12 row">
            <div class="container btn-ev-input col-md-6">
                <button type="submit" ng-disabled="!userEventForm.$valid" class="btn save">Save</button>
            </div>
            <div class="container btn-ev-input col-md-6">
                <button ng-if="event.id!=null" ng-click="delete()" class="btn remove">Remove</button>
            </div>
        </div>

    </div>
</form>

    <script type="text/javascript">
        $(function () {
            $('#datetimepickerStart').datetimepicker(
                { pickTime: true, language: 'ru' }
            );
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepickerEnd').datetimepicker(
                { pickTime: true, language: 'ru' }
            );
        });
    </script>




