﻿<head-block></head-block>
<div class="month-block">
    <div class="mn-label-panel">
        <div class="mn-back"><a ng-click="goToPrevWeek()"><span class="glyphicon glyphicon-my glyphicon-chevron-left"></span></a></div>
        <div class="wk-label"><strong>{{navigateWeekTitle}}</strong></div>
        <div class="mn-next"><a ng-click="goToNextWeek()"><span class="glyphicon glyphicon-my glyphicon-chevron-right"></span></a></div>
        <div class="mn-label-year"><strong>{{date.getFullYear()}}</strong></div>
    </div>
</div>

<div class="container grid" id="grid">
    <div class="container " id="topcontainerwk">
        <table class="table" cellpadding="0">
            <tbody>						
            <tr class="wk-daynames">
                <th scope="col">
                    <div class="wk-time">
                        <span class="wk-time">Time</span>
                    </div>
                </th>
                <th ng-repeat="title in gridTitles" ng-init="dayOfWeekIndex = $index" title="{{title}}" scope="col">
                    <div class="wk-dayname">
                        <span class="wk-daylink {{holidays[dayOfWeekIndex] ? 'text-red-color' : 'text-black-color'}}" title="{{holidays[dayOfWeekIndex] ? holidays[dayOfWeekIndex].name : ''}}">{{title}}</span>
                    </div>
                </th>
                <th class="wk-dummyth" style="width: 16px">&nbsp;</th>
            </tr>
            <tr class="week-tr" ng-repeat="(hour, daysParams) in gridData">
                <td class="time-box">{{hour + ":00"}}</td>
                <td ng-repeat="(dayKey, dayParams) in daysParams" class="week-day-td">
                    <div class="scrollable-div-week">
                        <div ng-if="dayParams.events!=null" ng-repeat="event in dayParams.events" class="mn-event-box">
                            <a class="text-white-color" ng-click="editEvent(event.id)">{{event.text}}</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container" id="scrolltimedeventswk">

    </div>
</div>


