﻿<head-block></head-block>

<div class="month-block">
    <div class="mn-label-panel">
        <div class="mn-back"><a ng-click="goToPrevYear()"><span class="glyphicon glyphicon-my glyphicon-chevron-left"></span></a></div>
        <div class="mn-label"><strong>{{date.getFullYear()}}</strong></div>
        <div class="mn-next"><a ng-click="goToNextYear()"><span class="glyphicon glyphicon-my glyphicon-chevron-right"></span></a></div>
    </div>
</div>

<div class="container grid row" id="grid" ng-repeat="monthsRow in gridData" ng-init="monthRowIdx = $index">
    <div class="month container col-xs-3" ng-repeat="monthCol in monthsRow" ng-init="monthColIdx = $index">
        <table class="month-table">
            <tr>
                <th colspan="7" class="month-title">{{months[monthRowIdx * monthsRow.length + monthColIdx]}}</th>
            </tr>
            <tr>
                <th ng-repeat="weekDay in weekDays" class="day-header">{{weekDay}}</th>
            </tr>
            <tr class="day" ng-repeat="week in monthCol">
                <td ng-repeat="dayParams in week">
                    <div class="{{(dayParams.hasEvents === true) ? 'year-event-box' : 'year-box-default' }}" ng-if="!dayParams.notActive">
                        <a class="{{ dayParams.hasEvents === true ? 'text-white-color' : (dayParams.holiday ? 'text-red-color' : 'year-box-default')  }}" ng-click="goToChosenDay(dayParams.day)" title="{{dayParams.holiday ? dayParams.holiday.name : ''}}">{{dayParams.day.getDate()}}</a>
                    </div>    
                </td>
            </tr>
        </table>
    </div>
</div>

