﻿<!DOCTYPE html>
<html lang="ru" ng-app="calendar">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/bootstrap.css")

    @Styles.Render("~/bundles/app.css")
    @Scripts.Render("~/bundles/app.js")

</head>
<body>

    <div class="container" ng-view>
    </div>

</body>
</html>